.content-box{
    margin-left: 25%;
    padding: 1px 16px;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text{
    color:#027068;
    font-weight: bold;
    font-size: 40px;
  }
  
  .icon_class>.MuiSvgIcon-root{
    color:#027068;
  
  }
  .login-form{
    width: 75%;
    padding-left: 340px;
  }
  .button-container{
    text-align: center;
  }
  .edit-btn{
    margin: 25px;
    width: 100px;
  }
  .form-help-text{
    font-size: 15px;
    color: red;
    margin: 20px;
  }
  .login-btn{
      margin-top: 30px;
  }
  .key{
    font-family: 'password';

  }
  .edit-container{
    width: 60%;
  }